@inherits LayoutComponentBase

<a href="#main-content" class="skip-link">Gå till sidans innehåll</a>

<MainNav />

<main id="main-content">
    <article class="content">
        @Body
    </article>
</main>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
